body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.inc.com%2Fjeff-haden%2F10-steps-to-start-a-business-while-keeping-your-full-time-job.html&psig=AOvVaw2YX71jWAv32RcgtdovdIrV&ust=1703442365156000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNDYosGXpoMDFQAAAAAdAAAAABAD");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.list {
  display: flex;
  flex-direction: row;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-Done {
  position: relative;
  left: 50%;
  background-color: #fff;
}
.btn-del {
  position: relative;
  top: 38px;
  left: 11%;
  background-color: #fff;
}
.bnt-add {
  background-color: #ed0d0d;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: row;
}

button:hover {
  background-color: #0056b3;
}

.Card {
  width: 18rem;
  margin-bottom: 20px;
  border: 1px solid #6aaaef;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px #fff;
  background-color: #6aaaef;
}

.Card.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Card.Title {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(249, 0, 0, 0.2);
  width: 60%;
  justify-content: center;
}
/* Style for the modal header */
.modal-header {
  background-color: #6294c7;
  color: #0b0b0b;
  border-bottom: none;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

/* Style for the modal title */
.modal-title {
  font-size: 24px;
  font-weight: 600;
}

/* Style for the modal body */
.modal-body {
  background-color: #6294c7;
  padding: 10px;
}

/* Style for the close button in the modal header */
.modal-header .close {
  color: #fff;
  font-size: 1.5rem;
}

.modal-footer .close {
  font-size: 1.25rem;
}

.modal-footer .btn-primary,
.modal-footer .btn-secondary {
  padding: 10px 20px;
  font-size: 16px;
}

.modal-footer .btn-primary {
  border: 1px solid #007bff;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
  border: 1px solid #5a6268;
}
